<section data-copilot="true" class="section with-logo">
    <div class="page-padding s0">
        <div data-w-id="bd4effa5-63ee-c332-d848-673a46a4d95a" style="opacity:0" class="logo_component-slider">
            @for (logo of logos.data; track $index) {
            <img width="300" loading="lazy" alt="" src="{{logo.logo}}" class="logo-slider-img">
            }
        </div>
        <div data-w-id="302b950a-bf1c-6188-1fca-d609da2c9d9a" style="opacity:0" class="logo_component-slider">
            @for (logo of logos.data; track $index) {
            <img width="300" loading="lazy" alt="" src="{{logo.logo}}" class="logo-slider-img">
            }
        </div>
    </div>
    <div class="container">
        <div class="header is-align-center">
            <h2>Confianza que impulsa decisiones</h2>
            <p class="subheading">Descubre experiencias reales de usuarios satisfechos</p>
        </div>
        <div class="w-layout-grid grid_2-col mobile-l-1-col gap-xsmall margin-bottom_large">
            <div id="w-node-c2c45f8a-1340-5d22-6dae-f893d1199fac-d1199fa0"
                class="card w-node-_18c0d15b-0463-2228-d5c0-8304ddc9739b-471766bd">
                <div class="card_body">
                    <div class="flex_horizontal is-y-center gap-xsmall margin-bottom_xsmall"><img width="" height="48"
                            alt="interface screenshot of the software interface (for a productivity tools business)"
                            src="https://webflow-prod-assets.s3.amazonaws.com/image-generation-assets/5b53b2db-771d-439f-9df2-94e8aa20dcb8.avif"
                            loading="lazy" data-aisg-image-id="5b53b2db-771d-439f-9df2-94e8aa20dcb8" class="avatar">
                        <div>
                            <div class="paragraph_small margin-bottom_none"><strong>Alex Ramírez</strong></div>
                            <div class="paragraph_small margin-bottom_none">Lima, 26 años</div>
                        </div>
                    </div>
                    <p class="paragraph-3">El proceso fue rápido y transparente. Encontré opciones que realmente se
                        ajustaban a
                        mi perfil.</p>
                </div>
            </div>
            <div id="w-node-aa687f7b-247d-3d36-c5bd-2e5df14ac678-d1199fa0"
                class="card w-node-_18c0d15b-0463-2228-d5c0-8304ddc973a7-471766bd">
                <div class="card_body">
                    <div class="flex_horizontal is-y-center gap-xsmall margin-bottom_xsmall"><img width="" height="48"
                            alt="[interface] image of a group discussing in an office (for a legal tech)"
                            src="https://webflow-prod-assets.s3.amazonaws.com/image-generation-assets/5ec0db2b-8ef2-41fd-a35c-72787d3632d7.avif"
                            loading="lazy" data-aisg-image-id="5ec0db2b-8ef2-41fd-a35c-72787d3632d7" class="avatar">
                        <div>
                            <div class="paragraph_small margin-bottom_none"><strong>Taylor Mendoza</strong></div>
                            <div class="paragraph_small margin-bottom_none">Arequipa, 27 años</div>
                        </div>
                    </div>
                    <p class="paragraph-3">Me sorprendió la claridad en las recomendaciones. Todo fue sencillo y sin
                        complicaciones.</p>
                </div>
            </div>
            <div id="w-node-eaa62b35-f295-d26a-d0ea-3e42dc311ac6-d1199fa0"
                class="card w-node-_18c0d15b-0463-2228-d5c0-8304ddc973b3-471766bd">
                <div class="card_body">
                    <div class="flex_horizontal is-y-center gap-xsmall margin-bottom_xsmall"><img width="" height="48"
                            alt="[interface] image of finance software in use"
                            src="https://webflow-prod-assets.s3.amazonaws.com/image-generation-assets/34f46ac7-8120-42a9-93c3-bdac85b01ebb.avif"
                            loading="lazy" data-aisg-image-id="34f46ac7-8120-42a9-93c3-bdac85b01ebb" class="avatar">
                        <div>
                            <div class="paragraph_small margin-bottom_none"><strong>Jordan Castillo</strong></div>
                            <div class="paragraph_small margin-bottom_none">Mancora, 41 años</div>
                        </div>
                    </div>
                    <p class="paragraph-3">Comparar alternativas nunca fue tan fácil. Recibí respuestas inmediatas y
                        precisas.
                    </p>
                </div>
            </div>
            <div id="w-node-b5dda7f1-8594-7dd0-ede0-e4f7deed239b-d1199fa0"
                class="card w-node-_18c0d15b-0463-2228-d5c0-8304ddc973bf-471766bd">
                <div class="card_body">
                    <div class="flex_horizontal is-y-center gap-xsmall margin-bottom_xsmall"><img width="" height="48"
                            alt="image of a client consultation in a futuristic setting"
                            src="https://webflow-prod-assets.s3.amazonaws.com/image-generation-assets/f44227bc-af89-40a2-aa25-ffba899ddede.avif"
                            loading="lazy" data-aisg-image-id="f44227bc-af89-40a2-aa25-ffba899ddede" class="avatar">
                        <div>
                            <div class="paragraph_small margin-bottom_none"><strong>Sam Torres</strong></div>
                            <div class="paragraph_small margin-bottom_none">Lima, 34 años</div>
                        </div>
                    </div>
                    <p class="paragraph-3">Excelente servicio, pude ver mis probabilidades reales antes de postular a un
                        préstamo.</p>
                </div>
            </div>
            <div id="w-node-e89765dd-563f-894c-f39a-71886eb1585f-d1199fa0"
                class="card w-node-_18c0d15b-0463-2228-d5c0-8304ddc973d7-471766bd"></div>
        </div>
        <div class="button-group is-align-center">
            <button routerLink="/encontrar" data-w-id="18c0d15b-0463-2228-d5c0-8304ddc973da"
                class="button orange open-modal-button rem on-accent-primary">Encontrar mi préstamo ideal</button>
        </div>
    </div>
</section>