<div class="columns w-row">
    <div class="column w-col w-col-6">
        <div class="div-block text">
            <div class="text-block-7"><strong>Tus datos están
                    protegidos</strong><strong>:</strong>
                <br>La información que compartes se usa solo para evaluar tu
                perfil crediticio y nunca
                se comparte sin tu autorización.<br>
            </div>
        </div>
    </div>
    <div class="w-col w-col-6">
        <div class="div-block text">
            <div class="text-block-7"><strong>Resultados en menos de 1
                    minuto: <br>Compara múltiples
                    entidades financieras al mismo tiempo y recibe opciones
                    claras y personalizadas al
                    instante.</strong><br></div>
        </div>
    </div>
</div>