<div class="nav nav-modal">
    <div data-duration="400" data-animation="default" data-easing2="ease" data-easing="ease" data-collapse="medium"
        role="banner" data-no-scroll="1" class="nav_container modal-nav w-nav">
        <div class="nav_left">
            <a routerLink="/" data-w-id="aa1b5477-e835-0cf2-fc05-64ed472c3238" aria-current="page"
                class="nav_logo w-inline-block w--current">
                <div class="nav_logo-icon"><img loading="lazy" src="assets/images/logo.svg" alt=""></div>
            </a>
        </div>
        <div class="nav_right">
            <button (click)="cerrarModal()" class="link-block close-modal-button w-inline-block"><svg
                    xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="32" height="32" fill="currentColor"
                    app="ikonik" class="ikonik-kzjwp">
                    <g app="ikonik">
                        <g data-name="close" app="ikonik">
                            <path
                                d="M13.41 12l4.3-4.29a1 1 0 1 0-1.42-1.42L12 10.59l-4.29-4.3a1 1 0 0 0-1.42 1.42l4.3 4.29-4.3 4.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l4.29-4.3 4.29 4.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"
                                app="ikonik"></path>
                            <rect data-w-id="aa1b5477-e835-0cf2-fc05-64ed472c3241" width="24" height="24"
                                transform="rotate(180 12 12)" opacity="0" app="ikonik"></rect>
                        </g>
                    </g>
                </svg>
            </button>
        </div>
    </div>
</div>